<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Security here</title>
</head>
<body>
    <h1>Co robimy?</h1>
    <a href="{{ url_for('login') }}" style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
        Zaloguj się
    </a>
    <a href="{{ url_for('register') }}" style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
        Zarejestruj się
    </a>
    
</body>
</html>