{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Welcome to one of the secure messaging systems</h1>
    <a href="{{ url_for('login') }}" style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
        Log in
    </a>
    <a href="{{ url_for('register') }}" style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
        Register
    </a>
{% endblock %}