{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form action="{{url_for('register')}}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword"><br>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Register"><br>
    </form>
<h4>Password MUST contain:</h4>
<ul>
    <li>at least 16 characters</li>
    <li>small letter</li>
    <li>big letter</li>
    <li>number</li>
    <li>special character</li>
</ul>
<h4>Username must:</h4>
<ul>
    <li>be between 3 and 50 characters long</li>
    <li>not contain any space or other white characters</li>
    <li>not contain any comma symbol</li>
</ul>
{% endblock %}